# SECRETS
SESSION_SECRET=

# STATUS
NODE_ENV=

# LINKS
API=PORT=
CLIENT_URL=
NEXT_PUBLIC_API_URL=

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# DISCORD
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=
